@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  --black: #000000;
  --teal: #00909e;
  --teal-medium: #29d6e6e9;
  --teal-light: #5be4f0;
  --yellow: #fcde63;
  --background-color: #f3f3f3;
  --font-color: #202020;
  --font-color-lt: #f3f3f3;
  --salmon-light: #f58869;
  --salmon-dark: #f16054;
  --lightest: #fafafa;
  --lighter-gray: #c9c6c6;
  --light-gray: #999999;
  --gray: #717171;
  --darker-gray: #414141;
  --dark-gray: #414141;
  --primary-font: 'mont', sans-serif;
  --secondary-font: 'phenomena', sans-serif;
  --scoreboard-font: 'Rajdhani', sans-serif;

  /* Card Watermark links */
  --gh-watermark: url('../images/gh-icon-1.png');
}

@property --num {
  syntax: "<integer>";
  initial-value: 20;
  inherits: false;
}

@property --num-1 {
  syntax: "<integer>";
  initial-value: 4;
  inherits: false;
}

@property --num-2 {
  syntax: "<integer>";
  initial-value: 8;
  inherits: false;
}

.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background: #fafafa;
}

a {
  text-decoration: none;
}

hr.training-hr {
  margin: 20px auto;
  width: 40%;
  color: var(--teal-light);
  border: 1px solid var(--teal-light);
}

/* ---------------- Project Styles ---------------- */
.primary-font {
  font-family: var(--primary-font);
}

.secondary-font {
  font-family: 'phenomena', sans-serif;
}

.text-main {
  color: #515151aa;
}

.bg-darker {
  background: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mont', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.bg-teal {
  background-color: var(--teal);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-dark-grey {
  background: #666666;
}

a.link-font {
  font-family: var(--secondary-font);
  text-decoration: none;
  color: var(--teal);
  text-transform: uppercase;
  font-weight: 500;
}

a.link-font:hover {
  color: var(--salmon-dark)
}

.section-title {
  font-family: 'Mont', sans-serif;
  background-clip: text;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

mark.mark-coaches {
  padding: .1875em;
  color: #fcde64;
  background-color: transparent;
}

.mark-text {
  font-family: 'Phenomena', sans-serif;
  font-weight: 400;
}

.divider {
  width: 75%;
  color: var(--light-gray);
  border-bottom: 1px solid var(--lightest);
}

.text-teal {
  color: var(--teal);
}

.btn-primary {
  background-color: var(--teal);
  border: none;
}

.btn-primary:hover {
  background-color: var(--salmon-dark);
}

a.btn.btn-primary {
  color: #fafafa;
  font-family: var(--scoreboard-font);
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: 600;
  font-size: 1rem;
}

a.btn.btn-primary:hover {
  color: #fafafa;
}

.mb-n3 {
  margin-bottom: -1rem !important;
}

.mb-n7 {
  margin-bottom: -4rem !important;
}

.mt-n7 {
  margin-top: -10rem !important;
}

.pt-6 {
  padding-top: 3.5rem !important;
}

.pt-lg-8 {
  padding-top: 8rem !important;
}

.fs-lg {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
}

.bg-transparent {
  background-color: transparent;
}

/* ---------------- Header ---------------- */
header {
  font-family: var(--secondary-font);
  margin-bottom: 30px;
}

nav {
  font-family: var(--secondary-font);
}

nav li,
.nav-item>.nav-link.px-2 {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
}

a.nav-link.px-2.text-teal:hover {
  color: var(--salmon-light);
}

a.nav-link-cta {
  color: #fafafa;
  background: var(--teal);
  padding: 10px 20px;
  border-radius: 10px;
}

a.nav-link-cta:hover {
  background: var(--salmon-light);
  font-weight: 400;
  color: var(--lightest);
}

.navbar-brand {
  letter-spacing: 1px;
  font-size: 1.25rem;
}

img.logo {
  max-width: 100%;
  height: 42px;
  max-height: 42px;
}

a.dropdown-toggle.dropdown-toggle-split,
button.btn.btn-none.dropdown-toggle.dropdown-toggle-split {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--teal);
  text-decoration: none;
  font-weight: 600;
}

a.dropdown-toggle.dropdown-toggle-split:hover,
div.btn-group.my-2:hover a.dropdown-toggle.dropdown-toggle-split:hover,
button.btn.btn-none.dropdown-toggle.dropdown-toggle-split:hover {
  color: var(--salmon-light);
}

/* ------------- Hamburger */
label {
  display: block;
}

label .menu {
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.logo {
  margin-top: 20px;
}

label .hamburger {
  position: absolute;
  top: 135px;
  right: 50px;
  width: 30px;
  height: 2px;
  background: #0a0a0a;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked+.menu {
  box-shadow: 0 0 0 100vw rgba(250, 250, 250), 0 0 0 100vh rgba(250, 250, 250, 0.79);
  background-color: #fafafa;
  opacity: .965;
  border-radius: 0;
}

label input:checked+.menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

}

label input:checked+.menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

}

label input:checked+.menu+ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  align-self: center;
  vertical-align: center;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #0a0a0a;
  text-decoration: none;
  text-align: center;
}

label a:hover {
  color: #fafafa;
  box-shadow: inset 100px 0 100px 0 #101c2068;
  text-align: center;
}

.main-nav {
  list-style: none;
}

ul.hamburger-nav {
  font-family: 'futura-pt', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 1.5px;
  list-style: none;
  line-height: 3em;
  color: #0a0a0a;
}

ul.hamburger-nav:hover {
  color: rgb(26, 201, 201);
}

ul.dropdown-menu,
ul.dropdown-menu.show {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(12px, 26px, 0px);
  background: #fafafaed;
  border: none;
  box-shadow: 0px 6px 14px 3px #202020ba;
}

div.dropdown-group,
a.dropdown-item {
  color: var(--teal);
  font-family: 'phenomena', sans-serif;
  text-transform: uppercase;
  font-size: 1.057rem;
  font-weight: 510;
  letter-spacing: 1.25px;
}

a.dropdown-item:hover {
  color: var(--salmon-dark);
  font-weight: 705;
  font-size: 1.057rem;
  letter-spacing: 1.35;
  background: transparent;
}

/* ------------------ Hero */
section.hero {
  min-height: 80vh;
  height: 100vh;
}

.lead {
  font-family: var(--primary-font);
  line-height: 3;
  margin: 10px auto;
  font-size: 1.1rem;
  color: #717171;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 10px;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.carousel-item-1 {
  background: linear-gradient(rgba(0, 7, 10, 0.788), rgba(0, 10, 14, 0.837)), url('../images/bg2.png') no-repeat center center;
  background-size: cover;
  max-width: 100%;
  /* height: 100%; */
}

.carousel-item-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.654),
      rgba(0, 0, 0, 0.864)),
    url('../images/coast-img-7.jpg') no-repeat center center;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.carousel-item-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.757),
      rgba(0, 0, 0, 0.864)),
    url('../images/coast-img-1.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.carousel-item-btn {
  margin: 20px auto;
}

a.btn.btn-lg.btn-primary {
  border: none;
  color: var(--font-color-lt);
  font-family: 'phenomena', sans-serif;
  text-transform: uppercase;
  font-size: 1.325rem;

}

a.carousel-button-1 {
  background-color: var(--salmon-dark);
  color: var(--font-color-lt);
  font-family: 'phenomena', sans-serif;
  text-transform: uppercase;
  font-size: 1.325rem;
}

a.carousel-button-1:hover {
  background-color: none;
  color: var(--salmon-light);
  text-decoration: line-through;
  font-size: 1.4258rem;
}

a.carousel-button-2 {
  background-color: var(--yellow);
  font-family: 'phenomena', sans-serif;
  text-transform: uppercase;
  font-size: 1.325rem;
  color: #071327;
}

a.carousel-button-2:hover {
  background-color: none;
  color: #fcdd63da;
  text-decoration: line-through;
  font-size: 1.457rem;
}

a.carousel-button-3 {
  background-color: var(--teal);
  color: var(--font-color-lt);
  font-family: 'phenomena', sans-serif;
  text-transform: uppercase;
  font-size: 1.325rem;
}

a.carousel-button-3:hover {
  background-color: none;
  color: #059aa8;
  text-decoration: line-through;
  font-size: 1.468rem;
  font-weight: 500;
}

/* -------------------- About */
.about {
  min-height: 40vh;
}

.about-img {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;}

.about-text,
.text-about {
  font-family: var(--primary-font);
}

.faq {
  font-family: var(--primary-font);
}

/* -------------------- Testimonials */

.avatar {
  height: 3rem;
  width: 3rem;
  position: relative;
  display: inline-block !important;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-group {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatar-group>li {
  position: relative;
}

.avatar-group>li:not(:last-child) {
  margin-right: -0.8rem;
}

.avatar .avatar-name {
  margin-left: 7px;
}

.avatar-xxs {
  height: 1.5rem;
  width: 1.5rem;
}

.avatar-xs {
  height: 2.1875rem;
  width: 2.1875rem;
}

.avatar-sm {
  height: 2.5rem;
  width: 2.5rem;
}

.avatar-lg {
  height: 4rem;
  width: 4rem;
}

.avatar-xl {
  height: 5.125rem;
  width: 5.125rem;
}

.avatar-xxl {
  height: 5.125rem;
  width: 5.125rem;
}

@media (min-width: 768px) {
  .avatar-xxl {
    width: 8rem;
    height: 8rem;
  }
}

.avatar-xxxl {
  height: 8rem;
  width: 8rem;
}

@media (min-width: 768px) {
  .avatar-xxxl {
    width: 11rem;
    height: 11rem;
  }

  .lead {
    font-family: var(--primary-font);
    line-height: 3;
    margin: 10px auto;
    font-size: 1.2rem;
    color: #717171;
  }
}

.nav-pills .nav-link {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--bs-primary);
  white-space: nowrap;
}

.nav.flex-column:not(.nav-pills) .nav-link {
  padding-left: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

@media (max-width: 991.98px) {
  .nav-responsive {
    overflow-x: scroll;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .lead {
    font-family: var(--primary-font);
    line-height: 3;
    margin: 10px auto;
    font-size: 1.12rem;
    color: #717171;
  }
}

.nav.nav-divider a:not(.dropdown-item) {
  color: inherit;
}

.nav.nav-divider .nav-item+.nav-item:before {
  content: "•";
  color: inherit;
  padding-left: 0.65rem;
  padding-right: 0.75rem;
  opacity: 0.8;
}

.nav.nav-divider .nav-item {
  display: inline-block;
  vertical-align: middle;
}

.nav.nav-divider .nav-link {
  padding: 0;
  color: inherit;
}

.nav-pills-primary .nav-item {
  padding: 0 !important;
  margin-right: 2px;
  margin-left: 2px;
  border-bottom: 0 !important;
}

.nav-pills-primary .nav-link {
  padding: 0.5rem 0.8rem !important;
  color: var(--bs-gray-800);
  font-weight: 500;
  border-radius: 0.313rem;
}

.nav-pills-primary .nav-link.active,
.nav-pills-primary .nav-link:hover {
  color: var(--bs-white);
  background-color: var(--bs-primary);
}

.nav-pills-primary.flex-column .nav-item {
  margin-bottom: 3px;
  margin-right: 0;
}

.nav-pills-primary-soft .nav-link {
  background-color: transparent;
  color: var(--bs-body-color);
  border: none;
  font-weight: 500;
}

.nav-pills-primary-soft .nav-link.active,
.nav-pills-primary-soft .nav-link:hover {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.nav-pills-dark .nav-link {
  background-color: transparent;
  color: var(--bs-gray-900);
  border: none;
  font-weight: 600;
}

.nav-pills-dark .nav-link.active,
.nav-pills-dark .show>.nav-link {
  color: var(--bs-body-bg);
  background-color: var(--bs-gray-900);
}

.nav-pills-light .nav-link {
  background-color: transparent;
  color: var(--bs-body-color);
  border: 1px solid transparent;
}

.nav-pills-light .nav-link.active,
.nav-pills-light .nav-link:hover,
.nav-pills-light .show>.nav-link {
  color: var(--bs-gray-900);
  background-color: var(--bs-light);
  border: 1px solid var(--bs-border-color);
}

.nav-pills-border-start .nav-link {
  background-color: transparent;
  color: var(--bs-body-color);
  border: 3px solid transparent;
  white-space: normal;
}

.nav-pills-border-start .nav-link.active,
.nav-pills-border-start .nav-link:hover,
.nav-pills-border-start .show>.nav-link {
  color: var(--bs-gray-900);
  background-color: var(--bs-light);
  border-left: 3px solid var(--bs-primary);
}

.nav-tabs-radio .nav-link label {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.nav-tabs-radio .nav-link label span {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.1);
  box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.1);
}

.nav-tabs-radio .nav-link:hover {
  border-radius: 50%;
  border-color: transparent;
}

.nav-tabs-radio .nav-link.active {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
}

.nav-tabs-radio .nav-link .btn-check:checked+.btn {
  border-color: var(--bs-gray-900) !important;
}

.nav-pills-primary-border-start .nav-item {
  padding: 0 !important;
  margin-right: 2px;
  margin-left: 2px;
  border-bottom: 0 !important;
}

.nav-pills-primary-border-start .nav-link {
  padding: 0.5rem 0.8rem !important;
  color: var(--bs-gray-800);
  font-weight: 500;
  border-radius: 0.313rem;
  border-left: 2px solid transparent;
}

.nav-pills-primary-border-start .nav-link.active,
.nav-pills-primary-border-start .nav-link:hover {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  border-left: 2px solid var(--bs-primary);
}

.nav-pills-primary-border-start.flex-column .nav-item {
  margin-bottom: 4px;
  margin-right: 0;
}

.nav-pills-testimonial .nav-link {
  background-color: transparent;
  color: var(--bs-body-color);
  border: 1px solid transparent;
  opacity: 50%;
}

.nav-pills-testimonial .nav-link:hover {
  opacity: 100%;
}

.nav-pills-testimonial .nav-link.active,
.nav-pills-testimonial .show>.nav-link {
  color: var(--bs-gray-900);
  background-color: var(--bs-light);
  border: 1px solid var(--bs-border-color);
  opacity: 100%;
}

.text-feature-icon-1 {
  color: var(--teal);
  text-shadow: 2px 1px 6px #999999;

}

.text-feature-icon-2 {
  color: var(--salmon-dark);
  text-shadow: 2px 1px 6px var(--salmon-light);
}

.text-feature-icon-3 {
  color: #fcde63;
}

/*----------------------------- Counter */
[data-count] {
  margin: 15vh 0;
  font-size: 5.5rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: 800;
  color: var(--lightest);
  text-shadow: 0px 0px 6px #e69d9d;
  letter-spacing: 6px;
}

.counter-txt {
  font-family: 'phenomena', sans-serifs;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1.52px;
  color: #2cd5e4;
}


/*----------------------------- CTA */
.typewrite {
  color: var(--teal);
  font-family: var(--scoreboard-font);
  letter-spacing: 2px;
  font-size: 5.12rem;
  font-weight: 950;
  text-shadow: 6px 0px 6px rgba(6, 33, 53, 0.139);
}

.title-text {
  font-family: "Rajdhani", sans-serif;
}

.title-teams-1 {
  font-family: var(--secondary-font);
  letter-spacing: 10px;
  color: var(--light-gray);
}

.title-teams-2 {
  font-family: var(--secondary-font);
  color: var(--light-gray);
  letter-spacing: 1.52px;
  font-size: 3.8rem;
}

.bracket { 
display: flex;
flex-direction: row;
position: relative;
}

.column { 
display: flex; 
flex-direction: column;
min-height: 100%;
justify-content: space-around;
align-content: center;
}

.table-wrapper {
max-width: 100%;
min-height: 40vh;
}

.playpass {
margin: 0 auto;
}

.playpass p {
color: var(--light-gray);
}

div#trainCta {
background: #e4e4e4;
}

/*----------------------------------- Practice */
.practice-container{
margin: 0 auto;
align-items: center;
text-align: center;
}

.practice-section {
background-color: #00796b; /* Custom teal background color */
color: white;
padding: 60px 0;
}

.practice-card {
border: none;
border-radius: 8px;
color: #000000; /* Dark text for readability */
padding: 20px; /* Adds padding inside the card */
max-width: 90%;
font-family: var(--primary-font);
letter-spacing: 2px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

.practice-card .card-title {
font-weight: 600;
margin-bottom: 20px;
}

.practice-card .list-group-item {
background-color: transparent;
border: none;
padding: 10px 0;
list-style-type: none; /* Removes bullet points */
}

.practice-card .list-group-item strong {
font-weight: 700; /* Bold font weight */
}

.practice-card .list-group-item span {
font-weight: 400; /* Normal font weight */
}

.practice-container {
margin-top: 20px;
}

.practice-location {
font-size: 2rem;
margin: 20px auto;
}

.practice-address {
font-family: var(--primary-font);
font-weight: 400;
line-height: 2;
margin: 20px auto;
}

.practice-dates {
line-height: 2;
}

@media (min-width: 576px) {
.practice-card {
    max-width: 90%; /* Adjust the max-width for small screens */
}
}

@media (min-width: 768px) {
.practice-card {
    max-width: 80%; /* Adjust the max-width for medium screens */
}
}

@media (min-width: 992px) {
.practice-card {
    max-width: 70%; /* Adjust the max-width for large screens */
}
}

.pattern-overlay-2::before {
content: "";
background: url('../images/pattern.png');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 0;
}

.list-font {
font-size: 1.25rem;
font-family: var(--scoreboard-font);
}

.pattern-overlay-2 {
position: relative;
z-index: 1;
height: auto;
}

.tournament-cards,
.camp-cards {
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
justify-content: center;
background-color: #fafafaa4;
}

.tournament-card,
.camp-card {
background-color: #fafafaa4;
}

#campsAndClinics,
#tournaments {
background: linear-gradient(rgba(255, 255, 255, 0.91), rgba(250, 253, 255, 0.783)), url('../images/lax-sticks.png') no-repeat center center;
max-width: 100%;
min-height: 80vh;
}

.card {
background-color: #fafafa71;
padding: 1.5rem;
border-radius: 8px;
box-shadow: rgba(88, 88, 88, 0.125) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
max-width: 100%;
width: 350px;
border-color: transparent;
padding: 20px;
}

.card h3 {
font-family: var(--scoreboard-font);
color: var(--teal);
font-size: 2rem;
margin-bottom: 0.5rem;
font-weight: 700;
letter-spacing: 2px;
}

.list-font {
list-style: none;
}

.card ul {
list-style: none;
padding: 0;
}

.card ul li {
margin-bottom: 0.5rem;
}

.card a {
color: var(--teal);
text-decoration: none;
}

.card a:hover {
color: var(--teal);
}

/*-----------------------------------Footer */

/* --- final cta */

.list-group-borderless .list-group-item {
  border: none !important;
  padding: 0.425rem 0;
  background-color: transparent;
}

/*----------------------------------- Misc */
svg.svg-close {
  max-height: 350px;
  max-width: 100%;
}

#graphic {
  padding: 40px 0;
}

/*----------------------------------- Media Queries */

@media screen and (min-width: 768px) {
  img.logo {
    max-width: 100%;
    height: 62px;
    max-height: 62px;
  }

  a.dropdown-toggle.dropdown-toggle-split,
  button.btn.btn-none.dropdown-toggle.dropdown-toggle-split {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1.25px;
    margin: 0 7.5px;
  }

  .coach-role {
    font-size: 1.185rem;
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--darker-gray);
    text-transform: uppercase;
    line-height: 1;
    margin: 15px auto;
  }

  .lead {
    font-family: var(--primary-font);
    line-height: 3;
    margin: 10px auto;
  }

  [data-count] {
    margin: 15vh 0;
    font-size: 6.5rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    color: var(--lightest);
    text-shadow: 0px 0px 6px #e69d9d;
    letter-spacing: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-item {
    min-height: 100vh;
    overflow: hidden;
  }

  .coach-role {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--darker-gray);
    text-transform: uppercase;
    line-height: 1;
    margin: 5px auto;
  }

  .coach-uni {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1rem;
    margin: 2.235px auto;
    color: var(--darker-gray);
  }

  .coach-prev {
    font-family: var(--secondary-font);
    font-weight: 400;
    margin: 0 auto;
    font-size: 1rem;
    color: var(--darker-gray);
    font-style: italic;
  }

  h6.team-title {
    color: var(--teal);
    font-size: 1.225rem;
    letter-spacing: 2.25px;
    font-weight: 600;
  }

  .lead {
    font-family: var(--primary-font);
    line-height: 4;
    margin: 10px auto;
  }

  [data-count] {
    margin: 15vh 0;
    font-size: 6.95rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    color: var(--lightest);
    text-shadow: 0px 0px 6px #494949;
    letter-spacing: 6px;
  }
}