@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --black: #000000;
    --teal: #00909e;
    --teal-medium: #29d6e6e9;
    --teal-light: #5be4f0;
    --yellow: #fcde63;
    --background-color: #f3f3f3;
    --font-color: #202020;
    --font-color-lt: #f3f3f3;
    --salmon-light: #f58869;
    --salmon-dark: #f16054;
    --lightest: #fafafa;
    --lighter-gray: #c9c6c6;
    --light-gray: #999999;
    --gray: #717171;
    --darker-gray: #414141;
    --dark-gray: #414141;
    --primary-font: 'mont', sans-serif;
    --secondary-font: 'phenomena', sans-serif;
    --scoreboard-font: 'Rajdhani', sans-serif;
    /* Card Watermark links */
    --gh-watermark: url('../images/gh-icon-1.png');
}

@property --num {
    syntax: "<integer>";
    initial-value: 20;
    inherits: false;
}

@property --num-1 {
    syntax: "<integer>";
    initial-value: 4;
    inherits: false;
}

@property --num-2 {
    syntax: "<integer>";
    initial-value: 8;
    inherits: false;
}

.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    background: #fafafa;
}

a {
    text-decoration: none;
}

hr.training-hr {
    margin: 20px auto;
    width: 40%;
    color: var(--teal-light);
    border: 1px solid var(--teal-light);
}

/* ---------------- Project Styles ---------------- */
.primary-font {
    font-family: var(--primary-font);
}

.secondary-font {
    font-family: 'phenomena', sans-serif;
}

.text-main {
    color: #515151aa;
}

.bg-darker {
    background: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mont', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.bg-teal {
    background-color: var(--teal);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-dark-grey {
    background: #666666;
}

a.link-font {
    font-family: var(--secondary-font);
    text-decoration: none;
    color: var(--teal);
    text-transform: uppercase;
    font-weight: 500;
}

a.link-font:hover {
    color: var(--salmon-dark)
}

.section-title {
    font-family: 'Mont', sans-serif;
    background-clip: text;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}

mark.mark-coaches {
    padding: .1875em;
    color: #fcde64;
    background-color: transparent;
}

.mark-text {
    font-family: 'Phenomena', sans-serif;
    font-weight: 400;
}

.divider {
    width: 75%;
    color: var(--light-gray);
    border-bottom: 1px solid var(--lightest);
}

.text-teal {
    color: var(--teal);
}

.mb-n3 {
    margin-bottom: -1rem !important;
}

.mb-n7 {
    margin-bottom: -4rem !important;
}

.mt-n7 {
    margin-top: -10rem !important;
}

.pt-6 {
    padding-top: 3.5rem !important;
}

.pt-lg-8 {
    padding-top: 8rem !important;
}

.fs-lg {
    font-family: var(--secondary-font);
    font-size: 1.1rem;
}

.bg-transparent {
    background-color: transparent;
}

/*----- Grid *-------*/

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 100%;
    list-style: none;
    text-align: center;
}


/*---------------------Jumbotron */

.jumbotron {
    position: relative;
    color: white;
    background: linear-gradient(rgba(0, 7, 10, 0.703), rgba(0, 10, 14, 0.666)), url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }


  .title-teams-1 {
    font-family: var(--secondary-font);
    letter-spacing: 10px;
    color: var(--light-gray);

  }

  .title-teams-2 {
    font-family: var(--primary-font);
    color: var(--light-gray);
    letter-spacing: 1.52px;
    font-size: 8rem;
  }


/*----------------------- Team Grid */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 100%;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-width: 450px; /* Adjust to desired size */
    height: 100%;
    max-height: max-content;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.438;
    backdrop-filter: blur(20px);
    backdrop-filter: sepia(90%);
}

.grid figure figcaption {
    padding: 2em;
    color: #000000;
    font-weight: 900;
    font-family: var(--scoreboard-font);
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/*---------------*/
/***** Romeo *****/
/*---------------*/

figure.effect-romeo {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

figure.effect-romeo img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 0, 300px);
    transform: translate3d(0, 0, 300px);
    -webkit-filter: blur(1px);
    
}

figure.effect-romeo:hover img {
    opacity: 0.6;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 1px;
    background: #000000;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

figure.effect-romeo:hover figcaption::before {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

figure.effect-romeo:hover figcaption::after {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

figure.effect-romeo h2,
figure.effect-romeo p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-romeo h2 {
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
}

figure.effect-romeo p {
    padding: 0.25em 2em;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
}

figure.effect-romeo:hover h2 {
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
}

figure.effect-romeo:hover p {
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
}

.underlay-text {
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    left: 50%;
    top: 0.85rem;
    font-size: 23vw;
    font-weight: 900;
    letter-spacing: 1.2px;
    white-space: nowrap;
    opacity: 0.05;
    transform: translateX(-50%) translateY(-22.5%) scaleX(0.75) scaleY(1.1);
    overflow: hidden;
    pointer-events: none;
    overflow: hidden;
    line-height: 0.65;

    span {
        display: inline-block;
        position: relative;
        animation-name: slide-up-text-offset;
        animation-delay: 0.4s;
    }
}

/*----------------------------------- Media Queries */

@media screen and (min-width: 768px) {
    .underlay-text {
        font-size: 26.5rem;
    }
}
  
  @media screen and (min-width: 1024px) {
    .underlay-text {
        font-size: 28rem;
    }
  }