/* Colours */
:root {
    --espn-red: #00909e;
    --bg: #00909e;
    --content-bg: #fff;
    --bg-text: #252525;
    --text: #fff;
    --bg-blue: #00909e;
    --bg-red: var(--espn-red);
    --accent: var(--espn-red);
    --text-accent: #00909e;
    --grey: #999999;
    --dark-grey: #414141;
    --border-grey: #c9c6c6;
    --easing: cubic-bezier(.8, 0, .2, 1);
}

/* Animations */
.animation {
    animation-fill-mode: both;
    animation-duration: 1.25s;
    animation-play-state: running;
    animation-timing-function: var(--easing);
}

@keyframes scalewidth-zero-half {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(0.5);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

@keyframes slide-up-text-offset {
    0% {
        transform: translateY(112.5%);
    }
    100% {
        transform: translateY(12.5%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-up-fade-in {
    0% {
        transform: translateY(3.5vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Base */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    letter-spacing: 0.1em;
    font-family: Raleway;
    overflow-x: hidden;
}

a {
    color: var(--text-accent);
    text-decoration: none;
}

/* Helpers */
.allcaps {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.separator {
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    height: 0.05em;
    background-color: var(--text);
    opacity: 0.15;
    margin: 0 0.5em;
}

.underline-bar {
    content: '';
    position: absolute;
    bottom: -1em;
    left: 0;
    width: 100%;
    height: 0.075em;
    background-color: var(--accent);
}

/* Icons */
.icon-dropdown {
    border: 0.35em solid transparent;
    border-top: 0.35em solid var(--text);
    display: inline-block;
    vertical-align: bottom;
    margin-left: 0.5em;
}

/*------------------------------
  Main
------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    max-width: 85em;
    margin: 0 auto;
    padding: 1em;
}

header a {
    color: var(--text);
}

.logo {
    height: 1.3em;
    width: 5.2em;
}

.logo svg {
    transform: scale(0.15);
    transform-origin: top left;
}

.logo path {
    fill: var(--espn-red);
}

.share {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
}

.share a {
    padding: 0.5em;
    vertical-align: middle;
}

.share .twitter {
    font-size: 1.1em;
}

main {
    position: relative;
}

.underlay-text {
    position: absolute;
    left: 50%;
    top: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-family: Teko;
    font-size: 20vw;
    font-weight: 800;
    letter-spacing: 0;
    white-space: nowrap;
    opacity: 0.05;
    transform: translateX(-50%) translateY(-22.5%) scaleX(0.75) scaleY(1.1);
    pointer-events: none;
    overflow: hidden;
    line-height: 0.65;
}

.underlay-text span {
    display: inline-block;
    position: relative;
    animation-name: slide-up-text-offset;
    animation-delay: 0.4s;
    animation-fill-mode: both;
    animation-duration: 1.25s;
    animation-play-state: running;
    animation-timing-function: var(--easing);
}

.page-container {
    font-size: 1rem;
    max-width: 75em;
    margin: 6em auto;
}

.main-title {
    position: relative;
    display: inline-block;
    font-size: 1.35em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 3.5em;
    animation-name: slide-up;
    animation-fill-mode: both;
    animation-duration: 1.25s;
    animation-play-state: running;
    animation-timing-function: var(--easing);
}

.main-title::after {
    content: '';
    position: absolute;
    bottom: -1em;
    left: 0;
    width: 100%;
    height: 0.075em;
    background-color: var(--accent);
}

.content {
    position: relative;
    background-color: var(--content-bg);
    color: var(--dark-grey);
    animation-name: slide-up;
    animation-delay: 0.15s;
    animation-fill-mode: both;
    animation-duration: 1.25s;
    animation-play-state: running;
    animation-timing-function: var(--easing);
}

.grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: flex;
    width: 25%;
    font-size: 1rem;
    flex-flow: column;
    justify-content: center;
}

.card-team {
    padding: 4em;
    align-items: center;
    position: relative;
    border: 1px solid var(--border-grey);
    cursor: pointer;
}

.card-team::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: var(--accent);
    transform: scaleX(0.5);
    animation-name: scalewidth-zero-half;
    animation-fill-mode: both;
    animation-duration: 1.25s;
    animation-play-state: running;
    animation-timing-function: var(--easing);
}

.card-team__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--bg-blue);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0.5em 3em rgba(16, 16, 30, 0.4);
    opacity: 0;
    transition: 1s var(--easing);
    z-index: 1;
}

.card-team__logo {
    position: relative;
    color: var(--grey);
    margin: 1em 1em 4em;
    transition: 1s var(--easing);
    z-index: 1;
    animation-name: slide-up-fade-in;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-duration: 1.25s;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 0.7s;
}

.card-team__logo .fas {
    font-size: 3em;
}

.card-team__number {
    position: relative;
    display: inline-block;
    font-family: Teko;
    color: var(--text-accent);
    font-size: 2em;
    margin-bottom: 1em;
    transform: scaleX(0.7);
    font-weight: 600;
    transition: 1s var(--easing);
    z-index: 1;
    animation-name: slide-up-fade-in;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-duration: 1.25s;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 0.7s;
}

.card-team__number::after {
    content: '';
    position: absolute;
    bottom: -0.2em;
    left: 12.5%;
    width: 75%;
    height: 0.05em;
    background-color: #D6DDE0;
}

.card-team__name {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 
